<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kshisen" version="9">
<MenuBar>
  <Menu name="move"><!--
    <Action name="move_solvable"/>
    <Action name="move_finish"/>-->
  </Menu>
  <Menu name="settings">
    <Action name="options_size"/>
    <Action name="options_speed"/>
    <Action name="options_level"/>
    <Action name="options_gravity"/>
    <Action name="options_disallow"/>
    <Action name="options_unscaled"/>
  </Menu>
</MenuBar>
<ToolBar name="mainToolBar"><text>Main Toolbar</text>
  <Action name="game_quit"/>
  <Separator/>
  <Action name="move_undo"/>
  <Action name="move_redo"/>
  <Separator/>
  <Action name="game_pause"/>
  <Separator/>
  <Action name="help_contents"/>
</ToolBar>
<StatusBar/>
</kpartgui>
