[Desktop Entry]
Exec=kshisen %i %m -caption "%c"
Type=Application
DocPath=kshisen/index.html
Name=Shisen-Sho
Type=Application
Comment=Tile Game
Icon=kshisen
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
