[Desktop Entry]
Encoding=UTF-8
Exec=kshisen %i %m -caption "%c"
Type=Application
DocPath=kshisen/index.html
Name=Shisen-Sho
Name[af]=Shisen-sho
Name[bn]=শিসেন-শো
Name[cs]=Šisen-Šo
Name[eo]=Ŝisen-Ŝo
Name[fr]=Shisen-sho
Name[he]=שישן־שו
Name[hi]=शाईसेन-शो
Name[ja]=四河省
Name[ko]=마작(사이센소)
Name[pa]=ਸ਼ਿਸੀਨ-ਸ਼ੋ
Name[ru]=Ши-сен-сё
Name[sk]=Šisen-Šo
Name[ta]=ஷிசென்-ஷோ
Name[tg]=Шисен-Шо
Name[th]=ชิเซน-โช - K
Name[uk]=Шісон-Шо
Name[xx]=xxShisen-Shoxx
Name[zh_CN]=连连看
Name[zu]=I-Shisen-Sho
GenericName=Shisen-Sho Mahjongg-like Tile Game
GenericName[bg]=Игра с плочки
GenericName[ca]=Joc de mosaics Shisen-Sho a l'estil Mahjongg
GenericName[cs]=Hra s dlaždicemi Šisen-Šo
GenericName[cy]=Gêm Deiliau Shisen-Sho sy'n debyg i Mahjongg
GenericName[da]=Shisen-Sho Mahjongg-lignende flisespil
GenericName[de]=Mahjongg-ähnliches Shisen-Sho Spiel
GenericName[es]=Juego de fichas similar al Shisen-Sho Mahjongg
GenericName[et]=Mahjonggi moodi klotsimäng
GenericName[fi]=Shisen-Sho Mahjongg--tyylinen palikkapeli
GenericName[fr]=Jeu de tuiles Shisen-Sho dans le style Mahjongg
GenericName[he]=Shisen Sho, חיקוי מה ג'ונג, משחק קלפים
GenericName[hu]=Mahjongg-változat
GenericName[is]=Shisen-Sho kubbaleikur líkur Mahjongg
GenericName[it]=Shisen-Sho, gioco di tessere simile a Mahjongg
GenericName[nl]=Shisen-Sho Mahjongg-achtig stenenspel
GenericName[pa]=ਸ਼ਿਸੀਨ-ਸ਼ੋ ਮਹਿਜ਼ੋਗ ਵਰਗੀ ਖੇਡ
GenericName[pl]=Gra typu Shisen-Sho Mahjongg
GenericName[pt]=Jogo de Padrões Shisen-Sho
GenericName[pt_BR]=Jogo de Ladrilhos parecido com Shisen-Sho Mahjongg
GenericName[ru]=Вариант маджонга: Ши-сен-сё
GenericName[sl]=Igra s ploščicami Shisen-Sho, podobna Mahjonggu
GenericName[sr]=Shisen-Sho, игра са пољима налик на Mahjongg
GenericName[sr@Latn]=Shisen-Sho, igra sa poljima nalik na Mahjongg
GenericName[sv]=Shisen-Sho Mahjongg-liknande brickspel
GenericName[ta]=ஷிசெந்ஷோ மாஹ்ஜோங் போன்ற ஓடு விளையாட்டு
GenericName[xx]=xxShisen-Sho Mahjongg-like Tile Gamexx
GenericName[zh_CN]=类似连连看的麻将游戏
Icon=kshisen
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Game;BoardGame;
