[Desktop Entry]
Encoding=UTF-8
Exec=kshisen %i %m -caption "%c"
Type=Application
DocPath=kshisen/index.html
Name=Shisen-Sho
Name[af]=Shisen-sho
Name[bn]=শিসেন-শো
Name[cs]=Šisen-Šo
Name[eo]=Ŝisen-Ŝo
Name[fr]=Shisen-sho
Name[hi]=शाईसेन-शो
Name[ja]=四河省
Name[ko]=마작(사이센소)
Name[ru]=Ши-сен-сё
Name[sk]=Šisen-Šo
Name[ta]=ஷிசென்-ஷோ
Name[tg]=Шисен-Шо
Name[th]=ชิเซน-โช - K
Name[uk]=Шісон-Шо
Name[xx]=xxShisen-Shoxx
Name[zu]=I-Shisen-Sho
GenericName=Shisen-Sho Mahjongg-like Tile Game
GenericName[bg]=Игра с плочки
GenericName[da]=Shisen-Sho Mahjongg-lignende flisespil
GenericName[et]=Mahjonggi moodi klotsimäng
GenericName[hu]=Mahjongg-változat
GenericName[nl]=Shisen-Sho Mahjongg-achtig stenenspel
GenericName[pt]=Jogo de Padrões Shisen-Sho
GenericName[pt_BR]=Jogo de Padrões Shisen-Sho
GenericName[ru]=Вариант маджонга: Ши-сен-сё
Icon=kshisen
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Game;BoardGame;
